<footer class="site-footer" role="contentinfo">
  <div class="wrapper">
    <h1 class="logo">
      <a href="/">
        <%= image_tag "18F-Logo-2016-Blue.svg", alt: '18F Logo' %>
        Micro-purchase
      </a>
    </h1>
    <nav class="nav-site-nav">
      <ul>
        <li><%= link_to 'About', 'https://18f.gsa.gov/2015/10/13/open-source-micropurchasing/' %></li>
        <li><%= link_to 'Feedback', 'https://docs.google.com/forms/d/15ycigLrTS7Ld4iVPgIMN-U5dMDFy6TnrHGOSkgk7qTI/viewform?c=0&w=1' %></li>
        <li> <%= link_to 'Policies', faq_path %></li>
        <li> <%= link_to 'API Docs', api_doc_path %></li>  
        <li> <%= link_to 'Insights', insights_path %></li>  
      </ul>
    </nav>
    <nav class="nav-contact">
      <h2>Contact</h2>
      <%= mail_to 'micropurchase@gsa.gov' %>
      <a href="https://github.com/18F/micropurchase/">View our code on GitHub</a>      
    </nav>
  </div>
</footer>