<footer class="usa-footer usa-footer-medium usa-sans" role="contentinfo">
  <div class="usa-grid">
    <div class="usa-footer-primary-section">
      <ul class="usa-unstyled-list">
        <li class="usa-footer-primary-link-item">
        <%= link_to 'About',
          'https://18f.gsa.gov/2015/10/13/open-source-micropurchasing/',
          class: 'usa-footer-primary-link' %>
        </li>
        <li class="usa-footer-primary-link-item">
        <%= link_to 'Feedback',
          'https://docs.google.com/forms/d/15ycigLrTS7Ld4iVPgIMN-U5dMDFy6TnrHGOSkgk7qTI/viewform?c=0&w=1',
          class: 'usa-footer-primary-link' %>
        </li>
        <li class="usa-footer-primary-link-item">
        <%= link_to 'Policies',
          faq_path,
          class: 'usa-footer-primary-link' %>
        </li>
        <li class="usa-footer-primary-link-item">
        <%= link_to 'API Docs',
          'https://pages.18f.gov/micropurchase-api-docs/',
          class: 'usa-footer-primary-link' %>
        </li>
        <li class="usa-footer-primary-link-item">
        <%= link_to 'Marketplace Insights',
          insights_path,
          class: 'usa-footer-primary-link' %>
        </li>
      </ul>
    </div>

    <div class="usa-footer-secondary_section">
      <div class="usa-footer-logo usa-width-one-half">
        <%= image_tag "18F-Logo-2016-Blue.svg", class: 'usa-footer-slim-logo-img', alt: 'Logo image' %>
        <h3 class="usa-footer-slim-logo-heading">Micro-purchase</h3>
      </div>

      <div class="usa-footer-contact-links usa-width-one-half">
        <address>
          <a href="mailto:micropurchase@gsa.gov">micropurchase@gsa.gov</a>
          <a href="https://github.com/18F/micropurchase/">
            <i class="fa fa-github"></i> View Our Code on GitHub
          </a>
        </address>
      </div>
    </div>
  </div>
</footer>
