<%= render partial: current_user.decorate.nav_drawer_admin_link %>
<li class="nav-link">
  <%= link_to 'My profile', profile_path %>
</li>
<li class="nav-link">
  <%= link_to 'My bids', bids_placed_path %>
</li>
<li class="nav-link">
  <%= link_to 'Logout', logout_path %>
</li>
<li class="nav-link">
  <%= render partial: masquerading_partial %>
</li>
