<nav class="nav-login">
  <ul class="nav-menu">
      <li class="nav-item">
        <a href="javascript:void(0)">
          Logged in as <%= current_user.name %>
          <icon class="fa fa-caret-down"></icon>
        </a>
        <div class="sub-nav">
            <ul class="sub-nav-group">
                <li><a class="usa-button usa-button-outline-inverse" href="<%= users_edit_path %>">Edit profile</a></li>
                <li><a class="usa-button usa-button-outline-inverse" href="<%= logout_path %>">Logout</a></li>
            </ul>
        </div>
      </li>
  </ul>
</nav>

<!-- <a class="nav-sign-out" href="/micropurchase/sign-in/">
  <button>
  <h1>Signed in as</h1>
  <img src="https://avatars2.githubusercontent.com/u/<%= current_user.github_id %>" alt="Andrew Maier">
  <span><%= current_user.name %></span>
  <span href="<%= logout_path %>" class="action">Sign out</span>
  </button>
</a> -->
