<h2>Delivery past due</h2>
<%= render partial: 'items',
  locals: { id: 'overdue', auctions: @view_model.delivery_past_due } %>

<h2>Evaluation needed</h2>
<%= render partial: 'items',
  locals: { id: 'eval-needed', auctions: @view_model.evaluation_needed } %>

<h2>Payment needed</h2>
<%= render partial: 'items',
  locals: { id: 'payment-needed', auctions: @view_model.payment_needed } %>

<h2>Complete &amp; successful</h2>
<%= render partial: 'items',
  locals: { id: 'successful', auctions: @view_model.complete_and_successful } %>

<h2>Rejected</h2>
<%= render partial: 'rejected_auctions',
  locals: { auctions: @view_model.rejected } %>
