<% content_for :title do %>18F Micro-purchase - Bids on <%= @auction.title %><% end %>
<% content_for :description do %>Auction <%= @auction.id %> has <%= @auction.bids.length %> bids.<% end %>
<% content_for :data_tags do %>
  <%= render partial: '/auctions/data_tags', locals: {auction: @auction} %>
<% end %>

<h1>Bids for "<%= @auction.title %>"</h1>

<a class="link-highlighted" href="<%= auction_path(@auction) %>"><icon class="fa fa-angle-double-left"></icon> Back to auction</a>

<% if !@auction.show_bids? %>
  <p>
    Bids are sealed until the auction ends. See the <a href='/auctions/rules/single-bid'>auction rules</a> to learn more.
  </p>
<% end %>

<table id="table-bids" class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Bidder</th>
      <th scope="col">DUNS</th>
      <th scope="col">Amount</th>
      <th scope="col">Date (EST)</th>
    </tr>
  </thead>
  <tbody>
    <% @auction.veiled_bids(current_user).each_with_index do |bid, i| %>
      <tr>
        <td>
          <%=
            bid.veiled_bidder_attribute(
              :name,
              current_user,
              message: '[Name withheld until the auction ends]'
            )
          %>
        </td>
        <td>
          <%=
            bid.veiled_bidder_attribute(
              :duns_number,
              current_user,
              message: '[Withheld]'
            )
          %>
        </td>
        <td><%= bid.amount_to_currency_with_asterisk %></td>
        <td><%= DcTimePresenter.convert_and_format(bid.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  &#42; - winning bid
</p>
