<div>
  <%= link_to(
    "<icon class='fa fa-angle-double-left'></icon> Back to all auctions".html_safe,
    root_path,
    class: 'breadcrumb-link') %>
</div>

<h1>My Bids</h1>

<div class="usa-grid-full">
  <table>
    <thead>
      <tr>
        <th scope="col">Auction</th>
        <th scope="col">Auction type</th>
        <th scope="col">Auction running?</th>
        <th scope="col">Amount</th>
        <th scope="col">Winning bid?</th>
        <th scope="col">Auction start time</th>
        <th scope="col">Auction end time</th>
        <th scope="col">Auction delivery deadline</th>
      </tr>
    </thead>
    <tbody>
      <% @bids.each do |bid| %>
      <tr>
        <td><%= link_to(bid.auction_title, auction_path(bid.auction)) %></td>
        <td><%= bid.formatted_type %></td>
        <td><%= bid.availability %></td>
        <td><%= bid.amount %></td>
        <td><%= bid.winning_status %></td>
        <td><%= bid.started_at %></td>
        <td><%= bid.ended_at %></td>
        <td><%= bid.delivery_due_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
