<% content_for :title do %>18F Micro-purchase - Your bids<% end %>
<% content_for :description do %>View your bids across Micro-purchase auctions.<% end %>

<h1>My Bids</h1>

<a class="link-highlighted" href="/"><icon class="fa fa-angle-double-left"></icon> Back to open issues</a>

<div class="usa-grid-full">
  <table id="table-admins-auction" class="admin-auctions-table">
    <thead>
      <tr>
        <th scope="col">Auction</th>
        <th scope="col">Auction type</th>
        <th scope="col">Auction running?</th>
        <th scope="col">Amount</th>
        <th scope="col">Winning bid?</th>
        <th scope="col">Auction start time</th>
        <th scope="col">Auction end time</th>
        <th scope="col">Auction delivery deadline</th>
      </tr>
    </thead>
    <tbody>
      <% @bids.each do |bid| %>
      <tr>
        <td>
          <%= link_to(bid.presenter_auction.title, auction_path(bid.presenter_auction)) %>
        </td>
        <td><%= bid.presenter_auction.formatted_type %></td>
        <td><%= AuctionStatus.new(bid.auction).available? %></td>
        <td><%= number_to_currency(bid.amount) %></td>
        <td><%= bid.winning_status %></td>
        <td><%= DcTimePresenter.convert(bid.presenter_auction.started_at).to_s(:long) %></td>
        <td><%= DcTimePresenter.convert(bid.presenter_auction.ended_at).to_s(:long) %></td>
        <td><%= DcTimePresenter.convert(bid.presenter_auction.delivery_due_at).to_s(:long) rescue nil %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
