<h1>Bidding on...</h1>

<hr>
<div class='usa-width-one-whole issue-list-item'>
  <div class='usa-width-one-twelfth center'>
    <%= image_tag "issue-icon.png", alt: 'issue-icon', class: 'issue-icon' %>
  </div>
  <div class='usa-width-three-fourths'>
    <h2 class='issue-title'><%= @auction.title %></h2>
    <p class='issue-description'>
      <%= @auction.description %>
    </p>
    <% if @auction.available? %>
      <h3>Ends in <%= distance_of_time_in_words(Time.now, @auction.end_datetime) %></h3>
    <% end %>
  </div>
</div>
<hr>

<% if @auction.available? %>
  <%= form_for @bid, url: "/auctions/#{params[:auction_id]}/bids", html: {class: 'bid-form'} do |f| %>
    <div class='usa-width-one-whole'>
      <div class="usa-width-one-half">
        <h2 class='center'>Current bid:</h2>
        <% if @auction.bids? %>
          <p class="current-bid-amount center"><%= number_to_currency(@auction.current_bid_amount) %></p>
          <h3 class="center">You are currently the winning bidder.</h3>
        <% else %>
          <p class="current-bid-amount center">No bids yet.</p>
        <% end %>
      </div>

      <div class="usa-width-one-half">
        <h2 class='center'><label for="your-bid-amount">Your bid:</label></h2>
        <%= f.text_field :amount %>
      </div>
    </div>

    <div class='usa-width-one-whole'>
      <div class='button-wrapper'>
        <a href='/' class='usa-button usa-button-big usa-button-gray cancel'>Cancel</a>
        <%= f.submit 'Submit', class: 'usa-button-big usa-button-green submit' %>
      </div>
    </div>
  <% end %>
<% else %>
  <h2>Bidding is closed</h2>
<% end %>
