<h2>Settings</h2>

<nav class="site-nav-secondary">
<ul>
  <li><%= link_to 'Customers', admin_customers_path, class: 'usa-current' %></li>
  <li><%= link_to 'Skills', admin_skills_path %></li>
  <li class='new-button'>
    <%= link_to 'Add customer',
      new_admin_customer_path,
      class: 'settings-new usa-button usa-button-outline' %>
  </li>
</ul>
</nav>

<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Agency Name</th>
      <th scope="col">Contact Name</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @view_model.customers.each do |customer| %>
      <tr>
        <td><%= customer.agency_name %></td>
        <td><%= customer.contact_name %></td>
        <td><%= customer.email %></td>
        <td><%= link_to('Edit', edit_admin_customer_path(customer)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

