<div class='usa-width-one-half issue-list-item'>
  <div class="usa-grid issue-content-wrapper">
    <div class='usa-width-one-whole issue-label'>
      <h3 class='issue-title'>
        <div class="issue-ribbon">
          <span class="<%= auction.label_class %>"><%= auction.label %></span>
        </div> <%= link_to auction.title, auction_path(auction.id) %>
      </h3>
      <div class="bid-deadline-box-children">
        <span class="bid-deadline">
          <% if AuctionStatus.new(auction).over? %>
              <%= auction.time_over %>
          <% elsif AuctionStatus.new(auction).future? %>
            <%= auction.time_future %>
          <% else %>
            <%= auction.time_open %>
          <% end %>
        </span>
        <% if AuctionStatus.new(auction).available? %>
          <%= render partial: 'auctions/bids_and_form', locals: {auction: auction} %>
          <div class="issue-bids-info-item">
            <% if auction.show_bid_button? %>
              <a href="<%= new_auction_bid_path(auction) %>" class='usa-button usa-button-outline-inverse button-bid'>Bid <icon class="fa fa-angle-double-right"></icon></a>
            <% end %>
          </div>
        <% else %>
          <%= render partial: 'auctions/winning_bid', locals: {auction: auction} %>
        <% end %>
      </div>
      <p class='issue-description'>
      <%= auction.html_summary %>
      <%= link_to(
        'View details <icon class="fa fa-angle-double-right"></icon>'.html_safe,
        auction_path(auction.id), class: 'issue-list-item-details') %>
      </p>
      <p><%= auction.capitalized_formatted_type %></p>
      <p><%= auction.eligibility_label %></p>
    </div>
  </div>
  <div class="usa-grid issue-bid-details">
    <div class='usa-width-one-whole issue-bids-info'>
      <div class="usa-grid-full">
        <%= render partial: auction.item_footer_partial,
          locals: { auction: auction } %>
      </div>
    </div>
  </div>
</div>
