<div class="usa-width-one-half issue-list-item">
  <div class="issue-content-wrapper">
    <div class="issue-label">
      <%= render partial: auction.auction_title_partial, locals: { auction: auction } %>

      <div class="issue-vitals">
        <div class="issue-bid-deadline">
          <span class="status-label <%= auction.label_class %>"><%= auction.label %></span>
          <%= auction.relative_time %>
        </div>
        <div class="winning-bid-detail">
          <%= render partial: auction.winning_bid_partial,
            locals: { auction: auction } %>
        </div>
      </div>
      <p class="issue-description">
        <%= auction.html_summary %>
      </p>
    </div>
  </div>
  <div class="issue-bid-details">
    <div class="usa-width-one-whole issue-bids-info">
        <ul class="issue-details-list">
          <%= render partial: auction.project_label_partial,
            locals: { auction: auction } %>
          <li class="issue-details-list-item">
            <div class="issue-details-label">Type</div>
            <div class="issue-details-title">
              <%= auction.capitalized_formatted_type %>
            </div>
          </li>

          <li class="issue-details-list-item">
            <div class="issue-details-label">Eligibility</div>
            <div class="issue-details-title">
              <%= auction.eligibility_label %>
            </div>
          </li>

          <li class="issue-details-list-item">
            <div class="issue-details-label">Skills required</div>
            <div class="issue-details-title">
              <%= auction.skills %>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>
