<div class='usa-width-one-half issue-list-item'>
  <div class="usa-grid issue-content-wrapper">
    <div class='usa-width-one-whole issue-label'>
      <h3 class='issue-title'>
        <div class="issue-ribbon">
          <span class="<%= auction.label_class %>"><%= auction.label %></span>
        </div> <%= link_to auction.title, auction_path(auction.id) %>
      </h3>
      <div class="issue-vitals">
        <%= render partial: 'auctions/labels/time_remaining', locals: {auction: auction} %>

        <%= render partial: auction.winning_bid_partial, locals: {auction: auction} %>
      </div>
      <p class='issue-description'>
        <%=h auction.html_summary %>
      </p>
    </div>
  </div>
  <div class="usa-grid issue-bid-details">
    <div class='usa-width-one-whole issue-bids-info'>
      <div class="usa-grid-full">
      <%= render partial: 'preview_footer', locals: {auction: auction} %>
      </div>
    </div>
  </div>
</div>
