<div class='usa-width-one-whole issue-list-item'>
  <div class='usa-width-one-twelfth center'>
    <%= image_tag "issue-icon.png", alt: 'issue-icon', class: 'issue-icon' %>
  </div>
  <div class='usa-width-three-fourths'>
    <h4 class='issue-title'><%= auction.title %></h4>
    <p class='issue-description'>
      <%= auction.description %>
    </p>
  </div>
  <div class='usa-width-one-sixth issue-bids-info'>
    <% if auction.available? %>
      <%= render partial: 'auctions/bids_and_form', locals: {auction: auction} %>
    <% else %>
      <%= render partial: 'auctions/winning_bid', locals: {auction: auction} %>
    <% end %>
  </div>
</div>
