<div class='usa-width-one-half issue-list-item'>
  <div class="usa-grid issue-content-wrapper">
    <div class='usa-width-one-whole issue-label'>
      <h3 class='issue-title'>
        <div class="issue-ribbon">
          <span class="<%= auction.label_class %>"><%= auction.label %></span>
        </div> <a href="<%= auction_path(auction) %>"><%= auction.title %></a>
      </h3>
      <div class="bid-deadline-box-children">
        <span class="bid-deadline">
          Time remaining:  <%= auction.relative_time_left %>
        </span>
        <br/>
        <span class="bid-deadline">
          Bid start time: <%= auction.relative_start_time %>
        </span>
      </div>
      <p class='issue-description'>
        <%=h raw auction.html_summary %><a class="issue-list-item-details" href="<%= auction_path(auction) %>">View details <icon class="fa fa-angle-double-right"></icon></a>
      </p>
      <p><%= auction.formatted_type.capitalize %></p>
      <p><%= auction.eligibility_label %></p>
    </div>
  </div>
  <div class="usa-grid issue-bid-details">
    <div class='usa-width-one-whole issue-bids-info'>
      <div class="usa-grid-full">
        <% if AuctionStatus.new(auction).available? %>
          <%= render partial: 'auctions/bids_and_form', locals: {auction: auction} %>
          <div class="issue-bids-info-item">
            <% if auction.show_bid_button? %>
              <a href="<%= new_auction_bid_path(auction) %>" class='usa-button usa-button-outline-inverse button-bid'>Bid <icon class="fa fa-angle-double-right"></icon></a>
            <% end %>
          </div>
        <% else %>
          <%= render partial: 'auctions/winning_bid', locals: {auction: auction} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
