<div class='usa-width-one-whole issue-list-item'>
  <div class="usa-grid">
    <div class='usa-width-one-whole issue-label'>
      <h3 class='issue-title'>
        <span class="usa-label-big <%= auction.label_class %>"><%= auction.label %></span> <a href="<%= auction_path(auction) %>"><%= auction.title %></a>
      </h3>
      <p class='issue-description'>
        <%=h raw auction.html_summary %><a href="<%= auction_path(auction) %>">View details »</a>
      </p>
      <p><%= auction.display_type %></p>
    </div>
  </div>
<div class="usa-grid issue-bid-details">
  <div class='usa-width-one-whole issue-bids-info'>
    <div class="usa-grid-full">
    <% if auction.available? %>
    <%= render partial: 'auctions/bids_and_form', locals: {auction: auction} %>

      <div class="usa-width-one-third">
        <% if auction.show_bid_button? %>
          <a href="<%= new_auction_bid_path(auction) %>" class='usa-button'>Bid »</a>
        <% else %>
        <% end %>
      </div>
    <% else %>
      <%= render partial: 'auctions/winning_bid', locals: {auction: auction} %>
    <% end %>
  </div>
  </div>
</div>
</div>
