<div class='usa-width-one-half issue-list-item'>
  <div class="usa-grid issue-content-wrapper">
    <div class='usa-width-one-whole issue-label'>
      <h3 class='issue-title'>
        <div class="issue-ribbon">
          <span class="<%= auction.label_class %>"><%= auction.label %></span>
        </div> <a href="<%= auction_path(auction) %>"><%= auction.title %></a>
      </h3>
      <div class="bid-deadline-box-children">
        <%= render partial: 'auctions/labels/time_remaining', locals: {auction: auction} %>

        <%= render partial: auction.winning_bid_partial, locals: {auction: auction} %>
      </div>
      <p class='issue-description'>
        <%=h raw auction.html_summary %><a class="issue-list-item-details" href="<%= auction_path(auction) %>">View details <icon class="fa fa-angle-double-right"></icon></a>
      </p>
      <p><%= auction.formatted_type.capitalize %></p>
      <p><%= auction.eligibility_label %></p>
    </div>
  </div>
  <div class="usa-grid issue-bid-details">
    <div class='usa-width-one-whole issue-bids-info'>
      <div class="usa-grid-full">
      <%= render partial: 'auctions/labels/project', locals: {auction: auction} %>
      </div>
    </div>
  </div>
</div>
