<% content_for :data_tags do %>
  <meta name="twitter:label1" value="Active Auctions">
  <meta name="twitter:data1" value="<%= @view_model.auctions.count { |i| i.start_datetime < Time.now && Time.now < i.end_datetime } %>">
  <meta name="twitter:label2" value="Coming Auctions">
  <meta name="twitter:data2" value="<%= @view_model.auctions.count { |i| Time.now < i.start_datetime } %>">
<% end %>

<div class="usa-width-full">
  <h1>Welcome!</h1>
  <div class="usa-font-lead">
    <p>The Micro-purchase Marketplace is the place to bid on open-source issues from the 18F team. <a href="https://18f.gsa.gov/2015/11/06/micro-purchase-lessons/">Learn more about this experiment »</a></p>
    <p>Be sure to <a href="<%= login_path %>">register your company</a> before placing a bid. If you have any questions, please email us at <a href="mailto:micropurchase@gsa.gov">micropurchase@gsa.gov</a>.</p>
  </div>
</div>

<h2>Issues open for bid</h2>

<% if current_user %>
  <% if current_user.sam_account? %>
    <%= render partial: '/components/sam_verified_header' %>
  <% else %>
    <%= render partial: '/components/no_sam_verification_header' %>
  <% end %>
<% else %>
  <%= render partial: '/components/no_current_user_header' %>
<% end %>


<div class="usa-grid-full">
  <% if @view_model.auctions.empty? %>
    <%= render partial: 'empty_auctions' %>
  <% else %>
    <% @view_model.auctions.each do |auction| %>
      <%= render partial: 'list_item', locals: {auction: auction} %>
    <% end %>
  <% end %>
</div>
