<div class="winners-archive-page">
<% content_for :data_tags do %>
  <meta name="twitter:label1" value="Active Auctions">
  <meta name="twitter:data1" value="<%= @view_model.active_auction_count %>">
  <meta name="twitter:label2" value="Coming Auctions">
  <meta name="twitter:data2" value="<%= @view_model.upcoming_auction_count %>">
<% end %>




<a class="link-highlighted" href="/auctions/winners/"><icon class="fa fa-angle-double-left"></icon> Back to winners page</a>
<section>
  <h2 class="winners-heading" id="previous-opportunities" data-url="<%= auctions_url %>">Previous opportunities</h2>

  <%= form_tag('/auctions/winners/archive', method: "get", class: "winners-filter") do %>
    <label for="options">Filter auctions</label>
    <%= select_tag :result, options_for_select([['Accepted auctions', true],['Rejected auctions', false]], params[:result]), onchange: "this.form.submit();", include_blank: 'All auctions' %>
  <% end %>

  <div class="winners-header usa-grid">
    <div class="winners-header_name usa-width-one-half">Project name (<% if params[:result] == 'true' %>accepted auctions<% elsif params[:result] == 'false' %>rejected auctions<% else %>all auctions<% end %>)</div>
    <div class="winners-header_bid usa-width-one-half">Winning bid</div>
  </div>
  <div class="usa-grid-full">
    <%= render partial: @view_model.auctions_list_previous_partial %>
  </div>
</section>
</div>
