<% if flash["bid"] %>
<div class="usa-alert usa-alert-success">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Bid Submitted! You currently have the winning bid.</h3>
    <p class="usa-alert-text">If your bid is selected as the winner, we will contact you with further instructions. <a href="<%= my_bids_path %>">View your bids »</a></p>
  </div>
</div>
<% end %>

<div class="usa-grid-full">
  <p><a href="<%= root_path %>">« Back to open projects</a></p>
  <div class="usa-width-two-thirds auction-description">
    <h1>Auction Details</h1>
    <div class="github-issue">
      <%=h raw @auction.html_description %>
    </div>
  </div>
  <div class="usa-width-one-third">
    <div class="auction-detail-panel">
      <div class="auction-info">
      <p class="auction-label">Status:</p>
      <p class="auction-label-info"><%= auction_status(@auction) %></p>
      <!--       <hr/> -->
      <% if @auction.over? && @auction.bids? %>
        <p class="auction-label">Winner:</p>
        <p class="auction-label-info"><% if current_user && @auction.user_is_winning_bidder?(current_user) %>You are the winner!<% else %><%= @auction.current_bid.bidder_name %><% end %></p>
      <% end %>
      <p class="auction-label">Current Bid:</p>
      <p class="auction-label-info"><span class="bid-amount"><%= number_to_currency(@auction.current_bid_amount) %></span>
          <span class=""><%=
            link_to(
                    pluralize(@auction.bids.length, 'bid'),
                    auction_bids_path(@auction.id)
            )
           %>
          </span>
      </p>
      <p class="auction-label">Bid deadline:</p>
      <p class="auction-label-info"><%= @auction.end_datetime.strftime("%m/%d/%Y at %I:%M %Z") %></p>
      <p>
        <a href="<%= new_auction_bid_path(@auction) %>" class='usa-button usa-button'>BID »</a>
      </p>
    </div>
      <div class="auction-more-info">
        <p>
          <i class="fa fa-github"></i>
          <a href="<%= @auction.issue_url %>">View on GitHub »</a>
        </p>
        <p>
          <a href="mailto:micropurchase@gsa.gov">Have feedback? Email micropurchase@gsa.gov</a>
        </p>
      </div>
    </div>
  </div>
</div>
