<% content_for :title do %>18F Micro-purchase - <%= @view_model.auction_title %><% end %>
<% content_for :description do %><%= @view_model.auction_summary %><% end %>
<% content_for :data_tags do %>
  <%= render partial: 'auctions/data_tags', locals: {auction: @view_model.auction} %>
<% end %>

<%= render partial: @view_model.current_user_header_partial, locals: {auction: @view_model.auction} %>

<div class="usa-grid-full">
  <p><a href="<%= root_path %>">« Back to open projects</a></p>
  <div class="usa-width-two-thirds auction-description">
    <h1>Auction Details</h1>
    <div class="github-issue">
      <%=h raw @view_model.auction_html_description %>
    </div>
  </div>
  <div class="usa-width-one-third">
    <div class="auction-detail-panel">
      <div class="auction-info">
      <p class="auction-label">Status:</p>
      <p class="auction-label-info"><%= @view_model.auction_status %></p>
      <p class="auction-label"><%= @view_model.auction_status_label %></p>
      <p class="auction-label-info"><span class="bid-amount"><%= @view_model.auction_current_bid_amount_as_currency %></span>
          <span class=""><%=
            link_to(
              @view_model.auction_link_text,
              auction_bids_path(@view_model.auction_id)
            )
           %>
          </span>
      </p>
      <p class="auction-label"><%= @view_model.auction_deadline_label %></p>
      <p class="auction-label-info"><%= @view_model.auction_formatted_end_time %></p>
      <p class="auction-label"><%= @view_model.auction_start_label %></p>
      <p class="auction-label-info"><%= @view_model.auction_formatted_start_time %></p>
      <p>
        <a href="<%= new_auction_bid_path(@view_model.auction) %>" class='usa-button usa-button'>BID »</a>
      </p>
    </div>
      <div class="auction-more-info">
        <p>
          <i class="fa fa-github"></i>
          <a href="<%= @view_model.auction_issue_url %>">View on GitHub »</a>
        </p>
        <p>
          <a href="mailto:micropurchase@gsa.gov">Have feedback? Email micropurchase@gsa.gov</a>
        </p>
      </div>
    </div>
  </div>
</div>
