<% content_for :title do %>18F Micro-purchase - <%= @auction.title %><% end %>
<% content_for :description do %><%= @auction.summary %><% end %>
<% content_for :data_tags do %>
  <%= render partial: '/auctions/data_tags', locals: { auction: @auction } %>
<% end %>

<div class="auction-show usa-grid issue-list-item">
  <div class="issue-content-wrapper">
    <div class='usa-width-one-whole issue-label'>
      <h3 class='issue-title'>
        <div class="issue-ribbon">
          <span class="<%= @auction.label_class %>"><%= @auction.label %></span>
        </div>
      </h3>
    </div>
  </div>

  <div class="auction-title issue-title">
    <h1><%= @auction.title %></h1>
    <%= render partial: @auction.admin_edit_auction_partial %>
    <div class="auction-subtitles">
      <div class="auction-subtitle">
        <%= @auction.relative_time %>
      </div>
      <div class="auction-subtitle">
        <%= @auction.bid_status %>
      </div>
    </div>
  </div>

  <div class=usa-grid-full>
    <%= render partial: 'auctions/header', locals: { auction: @auction } %>
  </div>

  <div class="usa-width-two-thirds">
    <%= render partial: 'auctions/auction', locals: { auction: @auction } %>
    <%= render partial: 'auctions/bids', locals: { auction_bids: @auction } %>
  </div>

  <div class="usa-width-one-third">
    <%= render partial: @auction.bid_flash_partial,
      locals: { auction: @auction, status: @auction.bid_status_class(flash)  } %>

    <div class="auction-detail-panel">
      <div class="auction-info">
        <div>
          <h6><%= @auction.start_label %></h6>
          <p class="auction-label-info"><%= @auction.formatted_start_time %></p>
        </div>
        <div>
          <h6><%= @auction.deadline_label %></h6>
          <p class="auction-label-info"><%= @auction.formatted_end_time %></p>
        </div>
        <div>
          <h6>Delivery deadline</h6>
          <p class="auction-label-info"><%= @auction.formatted_delivery_due_at %></p>
        </div>
        <div>
          <h6>Auction type:</h6>
          <p class="auction-label-info">
          <%= @auction.capitalized_type %>
          (<%= link_to 'rules', @auction.rules_path %>)
          </p>
        </div>
        <div>
          <h6>Eligible vendors</h6>
          <p class="auction-label-info"><%= @auction.eligibility_label %></p>
        </div>

        <%= render partial: @auction.paid_at_partial, locals: { auction: @auction } %>
        <%= render partial: @auction.bid_button_partial, locals: { auction: @auction } %>

        <p>
        <i class="fa fa-github"></i>
        <a href="<%= @auction.issue_url %>">View on GitHub <icon class="fa fa-angle-double-right"></icon></a>
        </p>
        <p>Have feedback?</p>
        <p>
        <a href="mailto:micropurchase@gsa.gov">Send us an email!</a>
        </p>
      </div>
    </div>
  </div>
</div>
