<% content_for :title do %>18F Micro-purchase - <%= @view_model.title %><% end %>
<% content_for :description do %><%= @view_model.summary %><% end %>
<% content_for :data_tags do %>
  <%= render partial: '/auctions/data_tags', locals: { auction: @view_model } %>
<% end %>

<div class="usa-grid">
  <%= link_to(
    "<icon class='fa fa-angle-double-left'></icon> Back to all auctions".html_safe,
    root_path,
    class: 'breadcrumb-link') %>
</div>

<div class="auction-show usa-grid issue-list-item">
  <div class="issue-content-wrapper">
    <div class='usa-width-one-whole issue-label'>
      <h3 class='issue-title'>
        <div class="issue-ribbon">
          <span class="<%= @view_model.label_class %>"><%= @view_model.label %></span>
        </div>
      </h3>
    </div>
  </div>

  <div class="auction-title issue-title">
    <h1><%= @view_model.title %></h1>
    <%= render partial: @view_model.admin_edit_auction_partial,
      locals: { view_model: @view_model } %>
    <div class="auction-subtitles">
      <div class="auction-subtitle">
        <%= @view_model.relative_time %>
      </div>
      <div class="auction-subtitle">
        <%= @view_model.bid_status %>
      </div>
    </div>
  </div>

  <%= render partial: 'auctions/header', locals: { auction: @view_model } %>

  <div class="usa-width-two-thirds">
    <%= render partial: 'auctions/auction', locals: { auction: @view_model } %>
    <%= render partial: 'auctions/bids', locals: { auction_bids: @view_model } %>
  </div>

  <div class="usa-width-one-third">
    <%= render partial: @view_model.bid_status_partial,
      locals: { auction: @view_model, status: @view_model.bid_status_class(flash)  } %>

    <%= render partial: @view_model.auction_status_partial,
      locals: { view_model: @view_model } %>

    <%= render partial: @view_model.bid_form_partial, locals: { auction: @view_model } %>

    <div class="auction-detail-panel">
      <div class="auction-info">
        <% @view_model.auction_data.each do |label, data| %>
          <%= render partial: 'auctions/data',
            locals: { label: label, data: data } %>
        <% end %>

        <h6>Auction type:</h6>
        <p class="auction-label-info">
        <%= @view_model.capitalized_type %>
        (<%= link_to 'rules', @view_model.rules_path %>)
        </p>
        <%= render partial: @view_model.paid_at_partial, locals: { auction: @view_model } %>
        <%= render partial: @view_model.accepted_at_partial, locals: { auction: @view_model } %>
        <p>
        <i class="fa fa-github"></i>
        <%= link_to 'View on GitHub <icon class="fa fa-angle-double-right"></icon>'.html_safe,
          @view_model.issue_url,
          target: '_blank' %>
        </p>
      </div>
    </div>
  </div>
</div>
