<% content_for :title do %>18F Micro-purchase - <%= @view_model.auction_title %><% end %>
<% content_for :description do %><%= @view_model.auction_summary %><% end %>
<% content_for :data_tags do %>
  <%= render partial: '/auctions/data_tags', locals: {auction: @view_model.auction} %>
<% end %>

<%= render partial: @view_model.current_user_header_partial, locals: {auction: @view_model.auction} %>

<div class="usa-grid-full">
  <p><a class="link-highlighted" href="<%= root_path %>"><icon class="fa fa-angle-double-left"></icon> Back to open projects</a></p>
  <div class="usa-width-two-thirds auction-description">
    <h1><%= @view_model.auction.title %></h1>
    <div class="github-issue">
      <%=h raw @view_model.auction_html_description %>
    </div>
  </div>
  <div class="usa-width-one-third">
    <div class="auction-detail-panel">
      <div class="auction-info">
      <div>
        <p class="auction-label">Auction type:</p>
        <p class="auction-label-info">
          <%= @auction.formatted_type.capitalize %> (<%= @view_model.auction_rules_link %>).
        </p>
      </div>
      <div>
        <p class="auction-label">Status:</p>
        <p class="auction-label-info"><%= @view_model.auction_status_text %></p>
      </div>
      <div>
        <p class="auction-label"><%= @view_model.auction_status_header %></p>
        <p class="auction-label-info"><%= render partial: @view_model.auction_status_partial %></p>
      </div>
      <div>
        <p class="auction-label"><%= @view_model.auction_deadline_label %></p>
        <p class="auction-label-info"><%= @view_model.auction_formatted_end_time %></p>
      </div>
      <div>
        <p class="auction-label"><%= @view_model.auction_start_label %></p>
        <p class="auction-label-info"><%= @view_model.auction_formatted_start_time %></p>
      </div>
      <% if @view_model.auction.show_bid_button?(current_user) %>
      <p>
        <a href="<%= new_auction_bid_path(@view_model.auction) %>" class='button-bid usa-button'>BID <icon class="fa fa-angle-double-right"></icon></a>
      </p>
      <% end %>
    </div>
      <div class="auction-more-info">
        <p>
          <i class="fa fa-github"></i>
          <a href="<%= @view_model.auction_issue_url %>">View on GitHub <icon class="fa fa-angle-double-right"></icon></a>
        </p>
        <p>Have feedback?</p>
        <p>
          <a href="mailto:micropurchase@gsa.gov">Send us an email!</a>
        </p>
      </div>
    </div>
  </div>
</div>
