<div class="usa-grid sign-up">
  <div class="sign-up-wrapper">
    <h1>Welcome to 18F Micro-purchase</h1>

    <div class="usa-font-lead">
      Hello, <%= current_user.name %>! It looks like you're new around here.
      Please take a moment to read the following information (which can also be
      found in our <%= link_to 'docs', page_path('docs') %> page).
    </div>

    <div class="sign-up-list">
      <h3>How it works</h3>

      <p>
      We provide an overview of how things work on our <%= link_to 'about page',
      page_path('about') %>, but some of the specific aspects of winning an auction,
      delivering work, and collecting payment are covered on our <%= link_to 'policies page',
      page_path('policies') %>
      </p>

      <h3>Placing a bid</h3>
      <p>
      To place a bid you'll need to register on SAM.gov and obtain a DUNS
      number. If you haven't done either of those things before, don't despair!
      We've got <%= link_to 'guide for that', page_path('docs/placing_a_bid') %>.
      </p>

      <h3>Getting paid</h3>
      <p>
      You're probably going to want to get paid for your awesome work. Here's
      <%= link_to 'a short guide', page_path('docs/getting_paid') %> on how to
      do that.
      </p>
    </div>

    <%= link_to 'Continue', profile_path, class: 'usa-button usa-button-outline' %>
  </div>
</div>
