<h2>Complete your Account</h2>

<p>Enter your DUNS number. Remember, <a href='https://sam.gov'>SAM.gov</a> registration is required to place bids. If you need help, email us at <%= mail_to 'micropurchase@gsa.gov' %>.</p>

<%= form_for @user, method: :put do |f| %>

  <%= f.label :duns_number, 'DUNS Number' %>
  <%= f.text_field :duns_number %>

  <%= f.submit 'Submit' %>
<% end %>
