<div class="user-profile">
  <div class="user-header-wrapper">
    <div class="usa-grid">
      <div class="user-header-title">
        <h1><%= t 'labels.vendor.account.title' %></h1>
      </div>
      <%= render partial: 'users/subnav', locals: {subnav: @view_model.subnav_view_model} %>
    </div>
  </div>
  <div class="usa-grid">
    <div class="user-body-wrapper profile-form">
      <h3>Login.gov</h3>
      <div class="mb1 login_gov">
        <% is_loa_3 = params[:loa] == '3' %>
        <%= form_tag('../auth/saml', method: :get) do %>
          <div class="mb1 sr-only" hidden>
            <%= label_tag 'loa_1' do %>
              <%= radio_button_tag 'loa', '1', !is_loa_3 %> LOA1
            <% end %>
            <%= label_tag 'loa_3' do %>
              <%= radio_button_tag 'loa', '3', is_loa_3 %> LOA3
            <% end %>
          </div>
          <button type="submit" class="btn btn-outline bg-white navy">
            <%= image_tag 'login-gov.svg', class: "align-middle", width:"125" %>
          </button>
        <% end %>
      </div>
      <%= simple_form_for @view_model.record, method: :put do |f| %>
        <h3>Contact information</h3>
        <%= f.input :name %>
        <%= f.input :email %>

        <h3>Placing a bid</h3>
        <p>
          Before you can bid on an auction, you’ll need to register on SAM.gov, request a
          DUNS number, and link your SAM.gov profile with your DUNS number. See
          <%= link_to 'our guide for more information', page_path('docs/placing_a_bid') %>.
        </p>
        <%= f.input :duns_number %>
        <span class=<%= @view_model.sam_status_icon_class %>></span>
        <span class=<%= @view_model.sam_status_text_class%>>
          <%= @view_model.sam_status_text %>
        </span>

        <h3>Getting paid</h3>
        <p>
          Before we can pay you, we'll need a location we can visit to issue
          payment. If you're unfamiliar with processing payments online, see
          <%= link_to 'our guide for more information', page_path('docs/getting_paid') %>.
        </p>
        <%= f.input :payment_url %>

        <%= f.submit class: 'usa-button usa-button-outline' %>
      <% end %>
    </div>
  </div>
</div>
