<div class="usa-grid">
  <h1>API Documentation</h1>

  <%= render partial: 'sidenav' %>

  <div class="usa-width-three-fourths">

  <%= render partial: 'intro_version' %>
  <%= render partial: 'requests' %>
  <%= render partial: 'authentication' %>
  <%= render partial: 'quickstart' %>
  <%= render partial: 'methods' %>
  <%= render partial: 'definitions' %>
</div>
</div>
