<div class="usa-grid">
<h1>Hi There!</h1>

<% @swagger.paths.each_with_index do |path, path_index| %>
<% path.operations.each_with_index do |op, op_index| %>
<% accordion_id = "path_#{path_index}_op_{#op_index}" %>
<li>
  <button class="usa-accordion-button" aria-expanded="true" aria-controls="<%= accordion_id %>">
    <%= op.verb %> <%= path.path %>
  </button>
  <div id="<%= accordion_id %>" class="usa-accordion-content">
    <p><%= op.description %></p>

    <% if op.sample_json_response? %>
    <p>Example response:</p>

    <pre><code>
        <%= op.sample_json_response%>
    </code></pre>
    <% end %>

    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Meaning</th>
          <th>Return Type</th>
        </tr>
      </thead>
      <tbody>
        <% op.responses.each do |response| %>
        <tr>
          <td><%= response.code %></td>
          <td><%= response.description %></td>
          <td><%= response.compact_type %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</li>
<% end %>
<% end %>
</ul>
</div>
