<div class='usa-grid docs-index'>
  <h1>Docs</h1>

  <div class="usa-font-lead">A collection of handy articles to help you get up
    and running. We also recommend reading our <%= link_to 'policies',
      page_path('policies') %> page.</div>

    <h2>Vendors</h2>
    <p>Articles for those who want to get paid to work on open source software projects.</p>
    <ul>
      <li class="docs-list">
      <%= link_to 'Placing a bid', page_path('docs/placing_a_bid'), class: 'docs-tile' %>
      </li>
      <li class="docs-list">
      <%= link_to 'Getting paid', page_path('docs/getting_paid'), class: 'docs-tile' %>
      </li>
    </ul>
    </section>

    <section id="customers">
    <h2>Customers</h2>
    <p>Articles for those who want to solicit contributions to open source software projects.</p>
    <ul>
      <li class="docs-list">
      <%= link_to 'Getting started', page_path('docs/getting_started'), class: 'docs-tile' %>
      </li>
      <li class="docs-list">
      <%= link_to 'Creating an auction', page_path('docs/creating_an_auction'), class: 'docs-tile' %>
      </li>
    </ul>
    </section>
  </div>
