<label for='auction_type'>Auction Type</label>
<%= f.select :type, Auction.types.keys.to_a %>

<label for='auction_title'>Title</label>
<%= f.text_field :title %>

<label for='auction_github_repo'>GitHub Repo Url</label>
<%= f.text_field :github_repo %>

<label for='auction_issue_url'>GitHub Issue Url</label>
<%= f.text_field :issue_url %>

<label for='auction_summary'>Summary</label>
<%= f.text_area :summary %>

<label for='auction_description'>Description</label>
<%= f.text_area :description %>

<label for='auction_start_datetime'>Start date</label>
<%= f.text_field :start_datetime %>

<label for='auction_end_datetime'>End date</label>
<%= f.text_field :end_datetime %>

<% if @auction.new_record? %>
  <label for='auction_due_in_days'>Due in days</label>
  <%= text_field_tag :auction_due_in_days %>
<% else %>
  <label for='delivery_deadline'>Delivery deadline</label>
  <%= f.text_field :delivery_deadline %>
<% end %>

<label for='auction_billable_to'>Billable to</label>
<%= f.text_field :billable_to %>

<label for='auction_start_price'>Start price</label>
<%= f.text_field(:start_price) %>

<label for='auction_published'>Published?</label>
<%= f.select :published, Auction.publisheds.keys.to_a %>

<label for='auction_notes'>Notes</label>
<%= f.text_area :notes %>
