<h1>
  <div class='usa-width-three-fourths'>Auctions</div>
  <div class='usa-width-one-forth right'>
    <a class='usa-button' href="<%= new_admin_auction_path %>">Create a new auction</a>
  </div>
</h1>

<div class='usa-grid-full'>
  <% @auctions.each do |auction| %>
    <div class='usa-width-one-whole auction-name'>
      <%= link_to admin_auction_path(auction.id) do %>
        <h2><%= auction.title %></h2>
      <% end %>
      <%= link_to 'Edit',
        edit_admin_auction_path(auction.id),
        class: 'usa-width-one-fourth' %>
    </div>

    <div class='usa-width-one-whole'>
      <div>
        <%= render partial: auction.availability_partial %>
      </div>
      <div>
        <b>Starts:</b> <%= auction.formatted_start_time %>
      </div>
      <div>
        <b>Ends:</b> <%= auction.formatted_end_time %>
      </div>
    </div>
  <% end %>
</div>
