<h1>
  <div class='usa-width-three-fourths'>Auctions</div>
  <div class='usa-width-one-forth right'>
    <a class='usa-button' href="<%= new_admin_auction_path %>">Create a new auction</a>
  </div>
</h1>

<div class='usa-grid-full'>

<% @auctions.each do |auction| %>
  <div class='usa-width-one-whole auction-name'>
    <a class='usa-width-three-fourths' href="<%= admin_auction_path(auction) %>">
      <h2><%= auction.title %></h2>
    </a>
    <a class='usa-width-one-fourth' href="<%= edit_admin_auction_path(auction) %>">Edit</a>
    <%=
      # button_to 'Destroy',
      #   {
      #     controller: "auctions",
      #     action: "destroy",
      #     id: auction.id
      #   },
      #   method: :delete
    %>
  </div>

  <div class='usa-width-one-whole auction-details'>
    <div class='usa-width-one-sixth'>
      <% if auction.available? %>
        <%= image_tag 'issue-icon.png', class: 'issue-icon' %>
      <% else %>
        <span class=''>not live</span>
      <% end %>
    </div>
    <div class='usa-width-one-fourth'>
      <b>Starts:</b> <%= auction.formatted_start_time %>
    </div>
    <div class='usa-width-one-fourth'>
      <b>Ends:</b> <%= auction.formatted_end_time %>
    </div>
  </div>
<% end %>
</div>
