<h1>Create a new auction</h1>

<%= form_for [:admin, @auction] do |f| %>
  <label for='auction_title'>Title</label>
  <%= f.text_field :title %>

  <label for='auction_github_repo'>Github Repo Url</label>
  <%= f.text_field :github_repo %>

  <label for='auction_issue_url'>Github Issue Url</label>
  <%= f.text_field :issue_url %>

  <label for='auction_description'>Description</label>
  <%= f.text_field :description %>

  <label for='auction_description'>Start Date</label>
  <%= f.text_field :start_datetime %>

  <label for='auction_description'>End Date</label>
  <%= f.text_field :end_datetime %>

  <label for='auction_start_price'>Start Price</label>
  <%= f.text_field(:start_price, value: '3500') %>

  <%= f.submit value: 'Submit' %>
<% end %>
