<div class="auction-show usa-grid issue-list-item">
  <div class="issue-content-wrapper">
    <div class='usa-width-one-whole issue-label'>
      <h3 class='issue-title'>
        <div class="issue-ribbon">
          <span class="<%= @view_model.label_class %>"><%= @view_model.label %></span>
        </div>
      </h3>
    </div>
  </div>

  <div class="auction-title issue-title">
    <h1><%= @view_model.title %></h1>
    <%= render partial: @view_model.admin_edit_auction_partial,
      locals: { view_model: @view_model } %>
     <%= render partial: @view_model.csv_report_partial,
        locals: { auction: @view_model } %>
    <div class="auction-subtitles">
      <div class="auction-subtitle">
        <%= @view_model.relative_time %>
      </div>
    </div>
  </div>

  <%= render partial: 'auctions/header', locals: { auction: @view_model } %>

  <div class="usa-width-two-thirds">
    <%= render partial: 'admin/auctions/auction', locals: { auction: @view_model } %>
    <%= render partial: 'admin/auctions/bids', locals: { auction_bids: @view_model } %>
  </div>

  <div class="usa-width-one-third">
    <%= render partial: @view_model.c2_approval_partial,
      locals: { status: @view_model.c2_proposal_status  } %>

    <div class="auction-detail-panel">
      <div class="auction-info">
        <% @view_model.admin_data.each do |label, data| %>
          <%= render partial: 'auctions/data',
            locals: { label: label, data: data } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
