<h1><%= @view_model.title %></h1>

<div>
  <%= render partial: @view_model.status_partial, locals: { auction: @view_model } %>
</div>

<div>
  <b>Starts:</b> <%= @view_model.started_at %>
</div>

<div>
  <b>Ends:</b> <%= @view_model.ended_at %>
</div>

<div>
  <b>Billable to:</b> <%= @view_model.billable_to %>
</div>

<div>
  <b>Paid at:</b> <%= @view_model.paid_at %>
</div>

<div>
  <h3>Summary:</h3>
  <%= @view_model.html_summary %>
</div>

<div>
  <h3>Description:</h3>
  <%= @view_model.html_description %>
</div>

<div class='usa-grid'>
  <%= render partial: @view_model.bids_partial, locals: { auction: @view_model } %>
</div>
