<h1><%= @auction.title %></h1>

<div>
  <%= render partial: @auction.status_partial, locals: { auction: @auction } %>
</div>

<div>
  <b>Starts:</b> <%= @auction.started_at %>
</div>

<div>
  <b>Ends:</b> <%= @auction.ended_at %>
</div>

<div>
  <b>Billable to:</b> <%= @auction.billable_to %>
</div>

<div>
  <b>Paid at:</b> <%= @auction.paid_at %>
</div>

<div>
  <h3>Summary:</h3>
  <%= @auction.html_summary %>
</div>

<div>
  <h3>Description:</h3>
  <%= @auction.html_description %>
</div>

<div class='usa-grid'>
  <%= render partial: @auction.bids_partial, locals: { auction: @auction } %>
</div>
