<h1><%= @auction.title %></h1>

<div class='usa-width-one-whole'>
  <div class='usa-width-one-sixth'>
    <%= render partial: @auction.status_partial, locals: { auction: @auction } %>
  </div>
  <div class='usa-width-one-fourth'>
    <b>Starts:</b> <%= @auction.started_at %>
  </div>
  <div class='usa-width-one-fourth'>
    <b>Ends:</b> <%= @auction.ended_at %>
  </div>
</div>
<p><%= @auction.html_summary %></p>
<p><%= @auction.html_description %></p>

<div class='usa-grid'>
  <%= render partial: @auction.bids_partial, locals: { auction: @auction } %>
</div>
