<h1><%= @auction.title %></h1>

<%= link_to I18n.t('admin.auctions.show.winner_report'), admin_auction_report_path(@auction, format: :csv) %>

<div class='usa-width-one-whole'>
  <div class='usa-width-one-sixth'>
    <% if AuctionStatus.new(@auction).available? %>
      <%= image_tag 'issue-icon.png', class: 'issue-icon' %>
    <% else %>
      <span class=''>not live</span>
    <% end %>
  </div>
  <div class='usa-width-one-fourth'>
    <b>Starts:</b> <%= DcTimePresenter.convert(@auction.start_datetime).to_s(:long) %>
  </div>
  <div class='usa-width-one-fourth'>
    <b>Ends:</b> <%= DcTimePresenter.convert(@auction.end_datetime).to_s(:long) %>
  </div>
</div>
<p><%=h raw @auction.html_summary %></p>
<p><%=h raw @auction.html_description %></p>

<div class='usa-grid'>
  <% if @auction.bids? %>
  <h2>Current Bids:</h2>

    <% @auction.bids.each do |bid| %>
      <div class='usa-width-one-whole'>
        <div class='usa-width-one-fourth bidder-name'><%= bid.bidder_name %></div>
        <div class='usa-width-one-fourth bidder-duns-number'><%= bid.bidder_duns_number %></div>
        <div class='usa-width-one-fourth amount'><%= number_to_currency(bid.amount) %></div>
        <div class='usa-width-one-fourth amount'><%= bid.time %></div>
      </div>
    <% end %>
  <% else %>
  <% end %>
</div>
