<h1><%= @auction.title %></h1>

<div class='usa-width-one-whole'>
  <div class='usa-width-one-sixth'>
    <% if @auction.available? %>
      <%= image_tag "issue-icon", class: 'issue-icon' %>
    <% else %>
      <span class=''>not live</span>
    <% end %>
  </div>
  <div class='usa-width-one-fourth'>
    <b>Starts:</b> <%= @auction.start_datetime.to_s(:long) %>
  </div>
  <div class='usa-width-one-fourth'>
    <b>Ends:</b> <%= @auction.end_datetime.to_s(:long) %>
  </div>
</div>
<p><%= @auction.description %></p>
<hr>
<div class='usa-grid'>
  <% if @auction.current_bid? %>
    <h2>Current Bid: </h2>
    <div class='usa-width-one-whole'>
      <div class='usa-width-one-fourth bidder-name'><%= @auction.current_bidder_name %></div>
      <div class='usa-width-one-fourth bidder-duns-number'><%= @auction.current_bidder_duns_number %></div>
      <div class='usa-width-one-fourth amount'><%= number_to_currency(@auction.current_bid_amount) %></div>
      <div class='usa-width-one-fourth amount'><%= @auction.current_bid_time %></div>
    </div>
    <hr>
    <% @auction.bids.each do |bid| %>
      <div class='usa-width-one-whole'>
        <div class='usa-width-one-fourth bidder-name'><%= bid.bidder_name %></div>
        <div class='usa-width-one-fourth bidder-duns-number'><%= bid.bidder_duns_number %></div>
        <div class='usa-width-one-fourth amount'><%= number_to_currency(bid.amount) %></div>
        <div class='usa-width-one-fourth amount'><%= bid.time %></div>
      </div>
    <% end %>
  <% else %>
  <% end %>
</div>
