<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col"><%= t('needs_attention.index.columns.title') %></th>
      <th scope="col"><%= t('needs_attention.index.columns.start_date') %></th>
      <th scope="col"><%= t('needs_attention.index.columns.end_date') %></th>
      <th scope="col"><%= t('needs_attention.index.columns.delivery_deadline') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% auctions.each do |auction| %>
      <tr>
        <td><%= link_to(auction.title, admin_auction_path(auction.id)) %></td>
        <td><%= auction.started_at %></td>
        <td><%= auction.ended_at %></td>
        <td><%= auction.delivery_due_at %></td>
        <td><%= link_to 'edit', edit_admin_auction_path(auction.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
