<%= render partial: 'admin/auctions_subnav', locals: { view_model: @view_model } %>

<h2><%= t('needs_attention.index.drafts') %></h2>
<%= render partial: 'draft',
  locals: { auctions: @view_model.drafts} %>

<h2><%= t('needs_attention.index.pending_delivery') %></h2>
<%= render partial: 'pending_delivery',
  locals: { auctions: @view_model.pending_delivery } %>

<h2><%= t('needs_attention.index.evaluation_needed') %></h2>
<%= render partial: 'evaluation_needed',
  locals: { auctions: @view_model.evaluation_needed } %>

<h2><%= t('needs_attention.index.payment_needed') %></h2>
<%= render partial: 'payment_needed',
  locals: { auctions: @view_model.payment_needed } %>
