<% content_for :data_tags do %>
  <meta name="twitter:label1" value="Active Auctions">
  <meta name="twitter:data1" value="<%= @view_model.active_count %>">
  <meta name="twitter:label2" value="Coming Auctions">
  <meta name="twitter:data2" value="<%= @view_model.upcoming_count %>">
<% end %>

<section class="slab-intro usa-width-full">
  <section class="usa-grid">
  <h1>Auction winners</h1>
  <div class="hero-metrics-wrapper usa-grid-full usa-grid">
    <%= render partial: 'hero_metric',
      locals: {
      href: '#chart-bids-by-auction',
      statistic: @view_model.total_auctions,
      label: 'total auctions'
    } %>
    <%= render partial: 'hero_metric',
      locals: {
      href: '#',
      statistic: @view_model.accepted_auctions_count,
      label: 'successful deliveries'
    } %>
    <%= render partial: 'hero_metric',
      locals: {
      href: '#chart-winning-bid',
      statistic: @view_model.unique_auction_winners,
      label: 'unique auction winners'
    } %>
    <%= render partial: 'hero_metric',
      locals: {
      href: '#chart4',
      statistic: @view_model.average_bids_per_auction,
      label: 'bids/auction'
    } %>
    <%= render partial: 'hero_metric',
      locals: {
      href: '#',
      statistic: @view_model.unique_bidders_per_auction,
      label: 'unique bidders per auction'
    } %>
    <%= render partial: 'hero_metric',
      locals: {
      href: '#agency-savings',
      statistic: @view_model.vendors_with_bids_count,
      label: 'vendors who have placed bids'
    } %>
    <%= render partial: 'hero_metric',
      locals: {
      href: '#auction-length',
      statistic: @view_model.average_auction_length,
      label: 'average auction length'
    } %>
    <%= render partial: 'hero_metric',
      locals: {
      href: '#',
      statistic: @view_model.average_delivery_time,
      label: 'average delivery time'
    } %>
    <%= render partial: 'hero_metric',
      locals: {
      href: '#chart-winning-bid',
      statistic: @view_model.average_winning_bid,
      label: 'average winning bid'
    } %>
    <%= render partial: 'hero_metric',
      locals: {
      href: '#',
      statistic: @view_model.small_business_count,
      label: 'small businesses registered'
    } %>
    <%= render partial: 'hero_metric',
      locals: {
      href: '#',
      statistic: @view_model.in_sam_count,
      label: 'Sam.gov qualified vendors'
    } %>
  </div>
  </section>
</section>

<section class="usa-width-full">
  <section class="usa-grid usa-grid-top-padding">
    <section id="chart-donuts">
      <div class="usa-grid-full">
        <h1>Projects</h1>
        <h2 class="h4">Where can you get involved?</h2>
        <div class="usa-width-one-half" id="donut-by-repo"></div>
        <div class="usa-width-one-half" id="donut-by-language"></div>

      </div>
      <p>All micro-purchase auctions are for open source code contributions to public code repositories (repos) hosted on GitHub. Auction winners submit code to a repository for review, and if the code passes the acceptance criteria, the owner of the repository will accept the code into the repository. On the left, you can see a breakdown of the various repos that have incorporated code from micro-purchase auction winners. On the right, you can see what programming languages have been used in micro-purchase solutions. Move your mouse over a section to see the name of that category.</p>
    </section>
  </section>
</section>

<section class="slab-intro usa-width-full">
  <section class="usa-grid">
    <section id="chart-winning-bid">
      <h1>Winning bid by date of auction</h1>
      <h2 class="h4">What bids are winning these days?</h2>
      <p class="winners-chart-directions">Only auctions with at least one bid are represented.</p>
      <div id="chart2"></div>
      <p>All micro-purchase reverse auctions start at $3,500 and vendors bid down the price they accept for completing the tasks presented. The graph above shows how the winning price for auctions have changed over time. Place your mouse over an auction to see exact bid numbers. Winning bids have ranged across the spectrum from $1 to near the $3,500 cap.</p>

    </section>
  </section>
</section>

<section class="usa-width-full">
  <section class="usa-grid">
    <section id="chart-community">
      <h1>Community</h1>
      <h2 class="h4">The Micro-purchase platform is growing.</h2>
      <p class="winners-chart-directions">Use the subchart below to navigate past community figures</p>
      <div id="chart4"></div>
      <p>The micro-purchase platform has tapped into an interested community of both government product owners and open source contributors. As the 18F team ramps up capacity to host more auctions for more projects, we’re also seeing an increase in bidders. This is all positive evidence that there is an untapped marketplace for small, open source contributions to government projects. Drag and adjust the black box on the bottom bar to see a more detailed view of each date.</p>
    </section>
  </section>
</section>

<section class="slab-intro usa-width-full">
  <section class="usa-grid">
    <section id="chart-bids-by-auction">
      <h1>Bids by auction</h1>
      <h2 class="h4">Are number of bids and winning bid related?</h2>
      <div id="chart5"></div>
      <p>Mouse over each circle to see how many bids that auction received and the price of the winning bid. As we explore this market, we’re excited to analyze trends in bidding volume, winning price, and auction type.</p>
    </section>
  </section>
</section>

<%# <%= render partial: 'auctions/faqs' %>

<%= javascript_include_tag "winners-bundle" %>
