<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col"><%= t('closed_auctions.index.columns.title') %></th>
      <th scope="col"><%= t('closed_auctions.index.columns.payment_url') %></th>
      <th scope="col"><%= t('closed_auctions.index.columns.amount') %></th>
      <th scope="col"><%= t('closed_auctions.index.columns.accepted_at') %></th>
      <th scope="col"><%= t('closed_auctions.index.columns.c2_url') %></th>
    </tr>
  </thead>
  <tbody>
    <% @view_model.successfully_delivered.each do |auction| %>
      <tr>
        <td><%= link_to(auction.title, admin_auction_path(auction.id)) %></td>
        <td><%= link_to('Payment URL', auction.payment_url) %></td>
        <td><%= auction.winning_amount %></td>
        <td><%= auction.accepted_at %></td>
        <td><% if auction.c2_proposal_url.present? %><%= link_to('C2 URL', auction.c2_proposal_url) %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
