<% content_for :title do %>18F Micro-purchase - Login<% end %>
<% content_for :description do %>Login or create an account to participate in Micro-purchase auctions.<% end %>

<div class="usa-grid">
  <div class="usa-width-one-half">
    <h1>Sign in</h1>
    <p>
      <%= link_to 'Authorize with GitHub',
        '/auth/github',
        class: 'usa-button usa-button usa-button-outline' %>
    </p>
    <% if @admin_sign_in %>
      <div class="mb1 right-align login_gov">
        <% is_loa_3 = params[:loa] == '3' %>
        <%= form_tag('../auth/saml', method: :get) do %>
          <div class="mb1 sr-only" hidden>
            <%= label_tag 'loa_1' do %>
              <%= radio_button_tag 'loa', '1', !is_loa_3 %> LOA1
            <% end %>
            <%= label_tag 'loa_3' do %>
              <%= radio_button_tag 'loa', '3', is_loa_3 %> LOA3
            <% end %>
          </div>
          <button type="submit" class="btn btn-outline bg-white navy">
            <%= image_tag 'login-gov.svg', class: "align-middle", width:"125" %>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="usa-width-one-half">
    <h2>Sign up</h2>
    <p>
      Don't yet have an account? No worries. Before you can bid on an auction
      you'll need participating in this marketplace, you’ll need to:
    </p>
    <ol>
      <li>Register your company with <%= link_to 'SAM.gov',
        'https://www.sam.gov/portal/SAM/##11'%></li>
        <li>Obtain a <%= link_to 'DUNS number', 'https://fedgov.dnb.com/webform'
        %>.</li>
        <li>Have a <%= link_to 'GitHub', 'https://github.com/' %> account.</li>
    </ol>
    <p>
      Once you’re ready, you can sign in using your GitHub account. Only public
      account information will be requested. If you encounter any issues, let us know
      at <%= mail_to 'micropurchase@gsa.gov' %>.
    </p>
  </div>
</div>
