<% content_for :title do %>18F Micro-purchase - Login<% end %>
<% content_for :description do %>Login or create an account to participate in Micro-purchase auctions.<% end %>

<div class="usa-grid">
  <div class="usa-width-one-half">
    <h1>Sign in</h1>
    <p>
      <%= link_to 'Authorize with GitHub',
        '/auth/github',
        class: 'usa-button usa-button usa-button-outline' %>
    </p>
  </div>

  <div class="usa-width-one-half">
    <h2>Sign up</h2>
    <p>
      Don't yet have an account? No worries. Before you can bid on an auction
      you'll need participating in this marketplace, you’ll need to:
    </p>
    <ol>
      <li>Register your company with <%= link_to 'SAM.gov',
        'https://www.sam.gov/portal/SAM/##11'%></li>
        <li>Obtain a <%= link_to 'DUNS number', 'https://fedgov.dnb.com/webform'
        %>.</li>
        <li>Have a <%= link_to 'GitHub', 'https://github.com/' %> account.</li>
    </ol>
    <p>
      Once you’re ready, you can sign in using your GitHub account. Only public
      account information will be requested. If you encounter any issues, let us know
      at <%= mail_to 'micropurchase@gsa.gov' %>.
    </p>
  </div>
</div>
