<%= render partial: 'admin/auctions_subnav', locals: { view_model: @view_model } %>

<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Starting Date</th>
      <th scope="col">Ending Date</th>
      <th scope="col">Delivery Deadline</th>
      <th scope="col">C2 Request</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @view_model.auctions.each do |auction| %>
      <tr>
        <td><%= link_to(auction.title, admin_auction_path(auction.id)) %></td>
        <td><%= auction.started_at %></td>
        <td><%= auction.ended_at %></td>
        <td><%= auction.delivery_due_at %></td>
        <td><%= auction.c2_proposal_status %></td>
        <td><%= link_to 'edit', edit_admin_auction_path(auction.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
