<%= render partial: 'admin/nav', locals: { view_model: @auction_collection } %>

<div class="usa-width-three-fourths">
  <div class="admin-body">
    <table class="usa-table-borderless">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Billable to</th>
          <th scope="col">Start time</th>
          <th scope="col">End time</th>
          <th scope="col">Starting price</th>
          <th scope="col">Delivery Deadline</th>
        </tr>
      </thead>
      <tbody>
        <% @auction_collection.auctions.each do |auction| %>
          <tr>
            <td>
              <%= link_to(auction.title, admin_auction_path(auction.id)) %>
              (<%= link_to('edit', edit_admin_auction_path(auction.id)) %>)
              (<%= link_to('preview', admin_preview_auction_path(auction.id)) %>)
            </td>
            <td><%= auction.billable_to %></td>
            <td><%= auction.started_at %></td>
            <td><%= auction.ended_at %></td>
            <td><%= auction.start_price %></td>
            <td><%= auction.delivery_due_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
