<h1>Admins (<%= @admins.length %>)</h1>

<table id="table-admins" class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">DUNS Number</th>
      <th scope="col">Sam.gov status</th>
      <th scope="col">Contracting Officer?</th>
      <th scope="col">GitHub ID</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.duns_number %></td>
        <td><%= user.sam_status %></td>
        <td><%= user.contracting_officer? %></td>
        <td><%= link_to(user.github_id, user.github_json_url) %></td>
        <td><%= link_to('Edit', edit_admin_user_path(user)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>
  Users (<%= @users.length %>); w/ DUNS (<%= @admin_report.non_admin_users_with_duns.length %>); In SAM (<%= @admin_report.non_admin_users_in_sam.length %>)
</h2>

<%= link_to "Download CSV", admin_user_reports_path(format: :csv) %>
y
<table id="table-users" class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">DUNS Number</th>
      <th scope="col">SAM.gov status</th>
      <th scope="col">Small Business?</th>
      <th scope="col">GitHub ID</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.duns_number %></td>
        <td><%= user.in_sam? %></td>
        <td><%= user.small_business_label %></td>
        <td><%= link_to(user.github_id, user.github_json_url) %></td>
        <td><%= link_to('Edit', edit_admin_user_path(user)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
