<h2>Admins (<%= @admins.length %>)</h2>

<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">DUNS Number</th>
      <th scope="col">In SAM.gov?</th>
      <th scope="col">GitHub ID</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.duns_number %></td>
        <td><%= user.in_sam? %></td>
        <td><%= link_to(user.github_id, user.github_json_url) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>
  Users (<%= @users.length %>); w/ DUNS (<%= @admin_report.non_admin_users_with_duns.length %>); In SAM (<%= @admin_report.non_admin_users_in_sam.length %>)
</h2>

<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">DUNS Number</th>
      <th scope="col">In SAM.gov?</th>
      <th scope="col">GitHub ID</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.duns_number %></td>
        <td><%= user.in_sam? %></td>
        <td><%= link_to(user.github_id, user.github_json_url) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
