<h2><%= @view_model.name %></h2>
<ul>
  <li><b>Email</b>: <%= @view_model.email %></li>
  <li><b>Credit card form url</b>: <%= @view_model.credit_card_form_url %></li>
  <li><b>DUNS Number</b>: <%= @view_model.duns_number %></li>
  <li><b>GitHub ID</b>: <%= @view_model.github_id %></li>
  <li><b>GitHub login</b>: <%= @view_model.github_login %></li>
  <li><b>SAM status</b>: <%= @view_model.sam_status %></li>
  <li><b>Small business</b>: <%= @view_model.small_business %></li>
  <li><b>Contracting officer</b>: <%= @view_model.contracting_officer %></li>
</ul>
