<h2><%= @view_model.name %></h2>
<ul>
  <li><b>Email</b>: <%= @view_model.email %></li>
  <li><b>Credit card form url</b>: <%= @view_model.credit_card_form_url %></li>
  <li><b>DUNS Number</b>: <%= @view_model.duns_number %></li>
  <li><b>GitHub ID</b>: <%= @view_model.github_id %></li>
  <li><b>GitHub login</b>: <%= @view_model.github_login %></li>
  <li><b>SAM status</b>: <%= @view_model.sam_status %></li>
  <li><b>Small business</b>: <%= @view_model.small_business %></li>
  <li><b>Contracting officer</b>: <%= @view_model.contracting_officer %></li>
</ul>

<% if @view_model.bids? %>
<h2>Bidding History</h2>

<table class="usa-table-borderless" id="bidding-history">
  <thead>
    <tr>
      <th scope="col">Auction</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">User Bids</th>
      <th scope="col">User Won?</th>
      <th scope="col">Accepted?</th>
    </tr>
  </thead>
  <tbody>
    <% @view_model.user_auctions.each do |auction| %>
      <tr>
        <td><%= link_to auction.title, admin_auction_path(auction.id) %></td>
        <td><%= auction.start_date %></td>
        <td><%= auction.end_date %></td>
        <td><%= auction.user_bid_count %></td>
        <td><%= auction.user_won_label %></td>
        <td><%= auction.accepted_label %></td>
    <% end %>
  </tbody>
</table>
<% end %>
