<!DOCTYPE html>
<html lang="en">
<head>
  <!-- test content -->
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', debug: true %>
  <%= jquery_include_tag :google %>
  <%= javascript_include_tag "application", debug: true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render partial: 'components/nav_header',
    locals: { current_user: current_user,
    title: "Micro-purchase (admin)" } %>

  <div class="usa-grid">
    <%= render partial: 'admin/secondary_nav', locals: { view_model: @view_model } %>
    <div>
      <%= render "flashes" %>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
