<!DOCTYPE html>
<html lang="en">
<head>
  <!-- test content -->
  <title>Micro-purchase</title>
  <%= stylesheet_link_tag    'application', media: 'all', debug: true %>
  <%= javascript_include_tag "application", debug: true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>

  <!-- Add 18F GA snippet -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48605964-40', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('set', 'forceSSL', true);
    ga('send', 'pageview');
  </script>

  <!-- End 18F GA snippet -->

  <!-- Link to FontAwesome -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body class='<%= controller_class %>'>
  <header class="usa-site-header" role="banner">

    <div class="usa-disclaimer">
      <div class="usa-grid">
        <div class="usa-width-one-whole">
          <span class="usa-disclaimer-official">
            <%= image_tag 'us_flag_small.png', class: 'usa-flag_icon', alt: "US flag signifying that this is a United States Federal Government website" %>
            An official website of the United States Government
          </span>
        </div>
      </div>
    </div>

    <nav class="usa-site-navbar">
      <div class="usa-grid">
        <div class="usa-width-one-whole">
          <div class="logo" id="logo">
            <%= image_tag "18f-logo.svg", width: '50', alt: "18f-logo" %>
            <a href="/" accesskey="1" title="Home" aria-label="Home">Micropurchase</a>

            <div class="header-account">
              <% if current_user %>
                <span>Logged in as <%= current_user.name %></span>
                <a class="usa-button usa-button-outline-inverse" href="<%= logout_path %>">Logout</a>
                <a class="usa-button usa-button-outline-inverse" href="<%= edit_user_path(current_user) %>">Edit Profile</a>
              <% else %>
                <a href="/login" class="usa-button usa-button-outline-inverse">Login</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

  </header>

  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <%= flash_errors %>

      <%= yield %>
    </div>
  </div>

    <footer class="usa-footer usa-footer-medium usa-sans" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
     <!--  <a href="#">Return to top</a> -->
    </div>
    <div class="usa-footer-primary-section">
      <div class="usa-grid-full">
        <nav class="usa-footer-nav">
          <ul class="usa-unstyled-list">
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="https://micropurchase.18f.gov/">Projects</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="https://18f.gsa.gov/2015/10/13/open-source-micropurchasing/">About Micropurchasing</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="https://docs.google.com/forms/d/15ycigLrTS7Ld4iVPgIMN-U5dMDFy6TnrHGOSkgk7qTI/viewform?c=0&w=1">Give Feedback</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="#">Policies and Guidelines</a>
            </li>
            <!-- <li class="usa-width-one-sixth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="#">Primary link</a>
            </li>  -->                   
          </ul>
        </nav>
      </div>
    </div>

    <div class="usa-footer-secondary_section">
      <div class="usa-grid">
        <div class="usa-footer-logo usa-width-one-half">
          <%= image_tag "18f-logo.svg", class: 'usa-footer-slim-logo-img', alt: 'Logo image' %>
        </div>

        <div class="usa-footer-contact-links usa-width-one-half">

        <address>
            <h2 class="usa-footer-contact-heading">Get In Touch</h2>
            <a href="mailto:info@agency.gov">micropurchase@gsa.gov</a>
            </br><a href="https://github.com/18F/micropurchase">
            <i class="fa fa-github"></i> View Our Code on GitHub</a>
          </address>
        </div>
      </div>
    </div>

    <!-- old footer     -->  

    <!-- <footer class="usa-footer usa-footer-medium usa-sans" role="contentinfo">

      <div class="usa-footer-primary-section">
        <div class="usa-grid-full">
          <nav class="usa-footer-nav">
            <ul class="usa-unstyled-list usa-width-one-sixth usa-footer-primary-content">
              <h4 class="usa-footer-primary-link">Contact Us</h4>
              <li>
                <a href="https://docs.google.com/forms/d/15ycigLrTS7Ld4iVPgIMN-U5dMDFy6TnrHGOSkgk7qTI/viewform?c=0&w=1">
                  Submit Feedback
                </a>
              </li>
              <li>
                <a href="mailto:micropurchase@gsa.gov">
                  Email Us
                </a>
              </li>
            </ul>

            <ul class="usa-unstyled-list usa-width-one-sixth usa-footer-primary-content">
              <h4 class="usa-footer-primary-link">Participate in this Project</h4>
              <li>
                <a href="https://18f.gsa.gov">
                  18F Homepage
                </a>
              </li>
              <li>
                <a href="https://github.com/18f/micropurchase">
                  See This Project on GitHub
                </a>
              </li>
            </ul>
            </nav
          </div>
        </div>
      </div> -->

          <!-- <div class="usa-social-links">
            <a href="#">
              <svg width="26" height="39" role="img" aria-label="Facebook">
                <title>Facebook</title>
                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/designstandards/assets/img/social-icons/svg/facebook25.svg" src="/designstandards/assets/img/social-icons/png/facebook25.png" width="26" height="39"></image>
              </svg>
            </a>
            <a href="#">            
              <svg width="26" height="39" role="img" aria-label="Twitter">
                <title>Twitter</title>
                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/designstandards/assets/img/social-icons/svg/twitter16.svg" src="/designstandards/assets/img/social-icons/png/twitter16.png" width="26" height="39"></image>
              </svg>
            </a>
            <a href="#">
              <svg width="26" height="39" role="img" aria-label="YouTube">
                <title>YouTube</title>
                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/designstandards/assets/img/social-icons/svg/youtube15.svg" src="/designstandards/assets/img/social-icons/png/youtube15.png" width="26" height="39"></image>
              </svg>
            </a>
            <a href="#">
              <svg width="26" height="39" role="img" aria-label="RSS">
                <title>RSS</title>
                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/designstandards/assets/img/social-icons/svg/rss25.svg" src="/designstandards/assets/img/social-icons/png/rss25.png" width="26" height="39"></image>
              </svg>
            </a>
          </div> -->


    <!-- <div class="usa-footer-secondary_section">
      <div class="usa-grid">
        <div class="usa-footer-logo">
          <%= image_tag "18f-logo.svg", class: 'usa-footer-slim-logo-img', alt: 'Logo image' %>
        </div>
      </div>
    </div> -->


  </footer>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js"
id="_fed_an_ua_tag"></script>
</body>
</html>
