<!DOCTYPE html>
<html>
<head>
  <title>Micropurchase</title>
  <%= stylesheet_link_tag    'application', media: 'all', debug: true %>
  <%= javascript_include_tag "application", debug: true %>
  <%#<script src="/assets/us-web-design-standards/js/vendor/jquery-1.11.3.min.js"></script>%>
  <!--[if lt IE 9]>
  <script src="/designstandards/assets/js/vendor/selectivizr-min.js"></script>
  <script src="/designstandards/assets/js/vendor/respond.js"></script>
  <script src="/designstandards/assets/js/vendor/rem.min.js"></script>
  <![endif]-->
  <%#<script src="/assets/us-web-design-standards/js/components.js"></script>%>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="usa-site-header" role="banner">

    <div class="usa-disclaimer">
      <div class="usa-grid">
        <div class="usa-width-one-whole">
          <span class="usa-disclaimer-official">
            <%= image_tag 'us_flag_small.png', class: 'usa-flag_icon', alt: "US flag signifying that this is a United States Federal Government website" %>
            An official website of the United States Government
          </span>
        </div>
      </div>
    </div>

    <nav class="usa-site-navbar">
      <div class="usa-grid">
        <div class="usa-width-one-whole">
          <div class="logo" id="logo">
            <%= image_tag "18f-logo.svg", width: '50', alt: "18f-logo" %>
            <a href="/" accesskey="1" title="Home" aria-label="Home">Micropurchase</a>

            <div class="header-account">
              <% if @current_user %>
                <span>Logged in as <%= @current_user.name %></span>
                <a href="/logout"><button class="usa-button-outline-inverse">Logout</button></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

  </header>

  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <%= yield %>
    </div>
  </div>

  <footer class="usa-footer usa-footer-slim usa-sans" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
      <a href="#">Return to top</a>
    </div>

    <div class="usa-footer-secondary_section">
      <div class="usa-grid">
        <div class="usa-footer-logo">
          <%= image_tag "18f-logo.svg", class: 'usa-footer-slim-logo-img', alt: 'Logo image' %>
          <h3 class="usa-footer-slim-logo-heading">18F</h3>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
