<!DOCTYPE html>
<html lang="en">
<head>
  <!-- test content -->
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP" />
  <title><%= yield(:title).presence || "18F - Micro-purchase" %></title>
  <meta property="og:title" content="<%= yield(:title).presence || "18F - Micro-purchase" %>">

  <!-- Link to FontAwesome -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', debug: true %>
  <%= jquery_include_tag :google %>
  <%= javascript_include_tag "application", debug: true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>

  <!-- Meta tags -->
  <meta name="twitter:site" content="@18F">
  <meta name="twitter:creator" content="@18F">
  <meta property="og:site_name" content="18F - Micro-purchase" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://micropurchase.18f.gov" />
  <link rel="canonical" href="https://micropurchase.18f.gov" />

  <meta name="description" content="<%= yield(:description).presence || "The Micro-purchase Marketplace is the place to bid on open-source issues from the 18F team." %>">
  <meta property="og:description" content="<%= yield(:description).presence || "The Micro-purchase Marketplace is the place to bid on open-source issues from the 18F team." %>">

  <meta name="twitter:card" content="summary">

  <%= yield :data_tags %>

  <!-- Add 18F GA snippet -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48605964-40', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('set', 'forceSSL', true);
    ga('send', 'pageview');
  </script>

  <!-- End 18F GA snippet -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class='<%= controller_class %>'>

  <div class="container">
    <%= render partial: 'components/mobile_nav_drawer', locals: { current_user: current_user } %>
    <%= render partial: 'components/nav_header', locals: { current_user: current_user } %>

    <div class="content-wrapper" id="<% if current_page?(root_path) %>index<% elsif current_page?(auctions_path) %>auctions<% end %>">
      <div class="usa-grid">
        <%= render "flashes" %>
        <%= yield %>
      </div>
    </div>

    <%= render "components/footer" %>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js" id="_fed_an_ua_tag"></script>
  </div>
</body>
</html>
