<!DOCTYPE html>
<html lang="en">
<head>
  <!-- test content -->
  <meta charset="utf-8">
  <title><%= yield(:title).presence || "18F - Micro-purchase" %></title>
  <meta property="og:title" content="<%= yield(:title).presence || "18F - Micro-purchase" %>">

  <!-- Link to FontAwesome -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', debug: true %>
  <%= javascript_include_tag "application", debug: true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>

  <!-- Meta tags -->
  <meta name="twitter:site" content="@18F">
  <meta name="twitter:creator" content="@18F">
  <meta property="og:site_name" content="18F - Micro-purchase" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://micropurchase.18f.gov" />
  <link rel="canonical" href="https://micropurchase.18f.gov" />

  <meta name="description" content="<%= yield(:description).presence || "The Micro-purchase Marketplace is the place to bid on open-source issues from the 18F team." %>">
  <meta property="og:description" content="<%= yield(:description).presence || "The Micro-purchase Marketplace is the place to bid on open-source issues from the 18F team." %>">

  <meta name="twitter:card" content="summary">

  <%= yield :data_tags %>

  <!-- Add 18F GA snippet -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48605964-40', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('set', 'forceSSL', true);
    ga('send', 'pageview');
  </script>

  <!-- End 18F GA snippet -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class='<%= controller_class %>'>
  <header class="usa-site-header" role="banner">

    <div class="usa-disclaimer">
      <div class="usa-grid">
        <div class="usa-width-one-whole">
          <span class="usa-disclaimer-official">
            <%= image_tag 'us_flag_small.png', class: 'usa-flag_icon', alt: "US flag signifying that this is a United States Federal Government website" %>
            An official website of the United States Government
          </span>
        </div>
      </div>
    </div>

    <nav class="usa-site-navbar">
      <div class="usa-grid header-table">
        <div class="logo header-row" id="logo">
          <div class="header-image">
            <%= image_tag "18F-Logo-2016-Blue.svg", alt: "18f-logo" %>
          </div>
          <a class="header-title-text" href="/" accesskey="1" title="Home" aria-label="Home">Micropurchase</a>

          <button id="button-nav-drawer" class="usa-button usa-button-outline-inverse" data-drawer-toggle="menu"><span class="fa fa-bars"></span></button>
          <div class="header-account">
            <% if current_user %>
              <nav class="nav-login">
                <ul class="nav-menu">
                    <li class="nav-item">
                      <a href="javascript:void(0)">
                        Logged in as <%= current_user.name %>
                        <icon class="fa fa-caret-down"></icon>
                      </a>
                      <div class="sub-nav">
                          <ul class="sub-nav-group">
                              <li><a class="usa-button usa-button-outline-inverse" href="<%= edit_user_path(current_user) %>">Edit profile</a></li>
                              <li><a class="usa-button usa-button-outline-inverse" href="<%= logout_path %>">Logout</a></li>
                          </ul>
                      </div>
                    </li>
                </ul>
              </nav>
              <!-- <span>Logged in as <%= current_user.name %></span> -->
              <!-- <a class="usa-button usa-button-outline-inverse" href="<%= logout_path %>">Logout</a> -->
              <!-- <a class="usa-button usa-button-outline-inverse" href="<%= edit_user_path(current_user) %>">Edit Profile</a> -->
            <% else %>
              <a href="/login" class="button-login usa-button usa-button-outline-inverse">Login</a>
            <% end %>
          </div>
        </div>
      </div>
    </nav>



  </header>

  <%= render partial: "components/nav_drawer", locals: { current_user: @current_user } %>

  <div class="content-wrapper" id="<% if current_page?(root_path) %>index<% elsif current_page?(auctions_path) %>auctions<% end %>">
    <div class="usa-width-one-whole">
      <%= flash_errors %>

      <%= yield %>
    </div>
  </div>

    <footer class="usa-footer usa-footer-large usa-sans" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
     <!--  <a href="#">Return to top</a> -->
    </div>
    <div class="usa-footer-primary-section">
      <div class="usa-grid-full">
        <nav class="usa-footer-nav">
          <ul class="usa-unstyled-list">
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="<%= root_path %>">Projects</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="https://18f.gsa.gov/2015/10/13/open-source-micropurchasing/">About</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="https://docs.google.com/forms/d/15ycigLrTS7Ld4iVPgIMN-U5dMDFy6TnrHGOSkgk7qTI/viewform?c=0&w=1">Feedback</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="<%= faq_path %>">Policies</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="https://pages.18f.gov/micropurchase-api-docs/">API Docs</a>
            </li>
            <!-- <li class="usa-width-one-sixth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="#">Primary link</a>
            </li>  -->
          </ul>
        </nav>
      </div>
    </div>

    <div class="usa-footer-secondary_section">
      <div class="usa-grid">
        <div class="usa-footer-logo usa-width-one-half">
          <%= image_tag "18F-Logo-2016-Blue.svg", class: 'usa-footer-slim-logo-img footer-image', alt: 'Logo image' %>
        </div>

        <div class="usa-footer-contact-links usa-width-one-half">

        <address>
            <h2 class="usa-footer-contact-heading">Get In Touch</h2>
            <a href="mailto:info@agency.gov">micropurchase@gsa.gov</a>
            </br><a href="https://github.com/18F/micropurchase">
            <i class="fa fa-github"></i> View Our Code on GitHub</a>
          </address>
        </div>
      </div>
    </div>

  </footer>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js"
id="_fed_an_ua_tag"></script>
</body>
<!-- staging deploy test 003 -->
</html>
